@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #E63462;
    --darken-color: #2D232E;
    --secondary-color: #474448;
    --disabled-color: #534B52;
    --background-color: #FFFFFF;
}

body {
    font-family: 'Nunito', sans-serif;
}


/* Navbar */
.navbar-brand h4 {
    margin: 0;
    color: var(--darken-color);
    font-weight: 800;
}

.navbar-brand h4 span {
    color: var(--primary-color);
}

.navbar-nav li a,
#order-now-container a {
    color: var(--darken-color);
    font-weight: 700;
}

#order-now-container {
    border: 3px solid var(--primary-color);
    border-radius: 2px;
}

#order-now-container :hover {
    background-color: var(--darken-color);
    color: var(--background-color);
}

/* Header */
#header-section {
    height: 8rem;
}


.header-container {
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 60%;
}

.img-container #header-img {
    max-width: 90%;
    width: auto;
}

.tagline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    width: 50%;
}

.tagline-container #tagline-text {
    font-weight: 800;
    color: var(--darken-color);
    margin: 0;
}

.tagline-container #tagline-text span {
    color: var(--primary-color);
}

.tagline-container #tagline-line {
    background-color: var(--disabled-color);
    height: 3px;
    width: 175px;
    border-radius: 20px;
}

.tagline-container #tagline-caption {
    font-size: 14px;
    width: 90%;
}

/* About */
#about-section {
    height: 2.3rem;
}

.about-container {
    width: 100%;
    background-color: var(--darken-color);
    display: flex;
}

.about-container .img-content {
    width: 50%;
    background-image: url(img/DSC_0827.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.description-content {
    margin-block: 5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.description-content .description-text {
    display: flex;
    flex-direction: column;
    color: var(--background-color);
}

.description-text h2 {
    font-weight: 800;
    color: var(--primary-color);
}

.description-text p {
    width: 90%;
    font-weight: 300;
    font-size: 100%;
}

/* Khasiat */
.khasiat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.khasiat .header {
    font-weight: 800;
    color: var(--primary-color);
}

.khasiat .khasiat-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-content: center;
    column-gap: 15px;
    row-gap: 50px;
}

.khasiat .khasiat-content .content img {
    width: 20%;
}

.khasiat .khasiat-content .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
}

/* More Pictures */
.more-pictures {
    width: 100%;
    display: flex;
}

.more-pictures > * {
    width: 100%;
    height: 300px;
    background-size: cover;
}

.more-pictures .pic1 {
    background-image: url(img/pic1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

.more-pictures .pic2 {
    background-image: url(img/pic2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

.more-pictures .pic3 {
    background-image: url(img/pic3.jpeg);
    background-repeat: no-repeat;
    background-position: center;
}

/* Order Now */
.order-now-section {
    width: 100%;
    background-color: rgba(71, 68, 72, .1);
    /*padding-block: 15px;*/
    padding-block: 30px;
}

.order-now {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-now .order-text {
    font-weight: 800;
    margin: 0;
}

.order-now .ecommerce-section {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

#tokped-logo, 
#shopee-logo {
    width: 30px;
    height: 100%;
}

h6#tokped-text {
    margin: 0;
    margin-left: 15px;
    font-weight: 800;
    color: #3F8A3D;
}

h6#shopee-text {
    margin: 0;
    margin-left: 15px;
    font-weight: 800;
    color: #F1582C;
}

.order-now .ecommerce-section a {
    text-decoration: none;
}

.order-now .ecommerce-section a > * {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    padding-block: 8px;
    border-radius: 10px;
}

.order-now .ecommerce-section a .tokopedia-section {
    background-color: rgba(96, 187, 85, .4);
}

.order-now .ecommerce-section a .shopee-section {
    background-color: rgba(241, 88, 44, .4);
}

/* Pictures */
.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures .header #element-2 {
    transform: rotate(180deg);
}

.pictures .header #element-1,
.pictures .header #element-2 {
    width: 80%;
}

.pictures .header {
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
    align-items: center;
}

.pictures .header h4 {
    margin: 0;
    font-weight: 700;
}

.pictures .content {
    width: 100%;
    display: grid;
    grid-template-areas: 
        "pic1 pic1 pic2 pic4"
        "pic1 pic1 pic3 pic5"; 
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.pictures .content .pic1 {
    grid-area: pic1;
    background-color: aqua;
}

.pictures .content .pic2 {
    grid-area: pic2;
    background-color: rebeccapurple;
}

.pictures .content .pic3 {
    grid-area: pic3;
    background-color: antiquewhite;
}

.pictures .content .pic4 {
    grid-area: pic4;
    background-color: bisque;
}

.pictures .content .pic5 {
    grid-area: pic5;
    background-color: green;
}

.pictures .content .pic1 img {
    width: 100%;
    height: 100%;
}


.pictures .content .pic2 img,
.pictures .content .pic3 img,
.pictures .content .pic4 img,
.pictures .content .pic5 img {
    width: 100%;
}

/* Footer */
.footer {
    width: 100%;
    background-color: var(--darken-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.footer .contact-section {
    width: fit-content;
    padding-inline: 1.3rem;
    padding-block: .8rem;
    display: flex;
    align-items: center;
    column-gap: 1rem;
    background-color: var(--disabled-color);
    border-radius: 20px;
    margin-top: -1rem;
}

.footer .contact-section h6 {
    color: var(--background-color);
    margin: 0;
}

.footer .contact-section .telp-text {
    padding-inline: .8rem;
    padding-block: .4rem;
    border-radius: 9px;
    background-color: var(--secondary-color);
}

.footer .dot-section {
    display: flex;
    margin-top: 1rem;
    column-gap: .8rem;
}

.footer .dot-section span {
    width: 1rem;
    height: 1rem;
    border-radius: 20px;
    background-color: var(--primary-color);
}

.footer .brand-text-section {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.footer .brand-text-section .brand-text {
    color: var(--background-color);
    font-weight: 800;
}

.footer .brand-text-section .brand-text span{
    color: var(--primary-color  );
}

@media (max-width: 1200px) {
    .description-text p {
        width: 100%;
        font-size: 80%;
    }
}


@media (min-width: 992px) {

    /* Navbar */
    .menu-container {
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 992px) {

    /* Navbar */
    #order-now-container {
        width: fit-content;
        padding-inline: .5rem;
    }

    #order-now-container :hover {
        background-color: rgba(0, 0, 0, 0);
        color: var(--darken-color);
    }

    /* About  */
    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .description-content {
        width: 100%;
        margin-inline: 0;
    }

    .description-text p {
        width: 80%;
        font-size: 85%;
    }

    .about-container .img-content {
        width: 100%;
        height: 300px;
    }

}

@media (max-width: 769px) {

    /* Header */
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .img-container {
        width: 90%;
    }

    .tagline-container {
        margin-top: 40px;
        width: 90%;
    }

    /* About */
    .description-text p {
        width: 90%;
    }

    /* More Pictures */
    .more-pictures {
        flex-direction: column;
    }

    .more-pictures > * {
        height: 150px;
    }

    /* Order Now */
    .order-now-section {
        padding-block: 30px;
    }

    .order-now {
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 576px) {
    /* About */

    .description-text {
        margin-inline: 20px;
    }

    .description-text p {
        width: 90%;
        font-size: 70%;
    }

    /* Khasiat */
    .khasiat .khasiat-content {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
    
    /* Pictures */
    .pictures .content {    
        grid-template-areas: 
            "pic1"
            "pic2"
            "pic3"
            "pic4"
            "pic5"; 
    }


}

@media (max-width: 400px) {
    /* About */
    .description-content {
        margin-left: 2rem;
    }

    .description-text p {
        width: 80%;
        font-size: 60%;
    }

}
