@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

:root {
    --primary-color: #E63462;
    --darken-color: #2D232E;
    --secondary-color: #474448;
    --disabled-color: #534B52;
    --background-color: #FFFFFF;
}

body {
    font-family: 'Nunito', sans-serif;
}


/* Navbar */
.navbar-brand h4 {
    margin: 0;
    color: var(--darken-color);
    font-weight: 800;
}

.navbar-brand h4 span {
    color: var(--primary-color);
}

.navbar-nav li a,
#order-now-container a {
    color: var(--darken-color);
    font-weight: 700;
}

#order-now-container {
    border: 3px solid var(--primary-color);
    border-radius: 2px;
}

#order-now-container :hover {
    background-color: var(--darken-color);
    color: var(--background-color);
}

/* Header */
.header-container {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
    width: 60%;
}

.img-container #header-img {
    max-width: 90%;
    width: auto;
}

.tagline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 15px;
    width: 50%;
}

.tagline-container #tagline-text {
    font-weight: 800;
    color: var(--darken-color);
    margin: 0;
}

.tagline-container #tagline-text span {
    color: var(--primary-color);
}

.tagline-container #tagline-line {
    background-color: var(--disabled-color);
    height: 3px;
    width: 175px;
    border-radius: 20px;
}

.tagline-container #tagline-caption {
    font-size: 14px;
    width: 90%;
}

/* About */
.about-container {
    width: 100%;
    background-color: var(--darken-color);
    background-image: url(img/element1.svg);
    background-repeat: no-repeat;
    background-position: 2rem 4rem;
}

.about-container .img-content {
    width: 50%;
    height: 500px;
    background-image: url(img/DSC_0827.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}

.description-content {
    width: 40%;
    color: var(--background-color);
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}

.description-content h2 {
    font-weight: 800;
    color: var(--primary-color);
}

.description-content p {
    width: 90%;
}

/* Pictures */
.pictures {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictures .header #element-2 {
    transform: rotate(180deg);
}

.pictures .header h3 {
    margin: 0;
}

@media (min-width: 992px) {
    /* Navbar */
    .menu-container {
        display: flex;
        justify-content: end;
    }
}

@media (max-width: 992px) {
    /* Navbar */
    #order-now-container {
        width: fit-content;
        padding-inline: .5rem;
    }

    #order-now-container :hover {
        background-color: rgba(0, 0, 0, 0);
        color: var(--darken-color);
    }

}

@media (max-width: 768px) {
    /* Header */
    .header-container {
        flex-direction: column;
        align-items: center;
    }

    .img-container{
        width: 90%;
    }

    .tagline-container {
        margin-top: 40px;
        width: 90%;
    }
}